#!/bin/bash

# Backup_f - Резервное копирование файлов с удалением старых копий.

 NORMAL="$(echo -e '\033[0;39m')"
   BLUE="$(echo -e '\033[1;34m')"
   CYAN="$(echo -e '\033[1;36m')"
  GREEN="$(echo -e '\033[1;32m')"
MAGENTA="$(echo -e '\033[1;35m')"
    RED="$(echo -e '\033[1;31m')"
 YELLOW="$(echo -e '\033[1;33m')"

BACKUPDIR=/var/www/

TARGETDIR={{ target_dir }}
timeout={{ mount_timeout }}
TARGETDIR=/mnt/BACKUP/web-service/etp.atbmarket.com
MARKERFILE={{ share_dir }}/DO_NOT_DELETE.txt
DAYD={{ store_days_www }}

DATADIR=$TARGETDIR/`date +%Y-%m-%d`/WEB

if [ ! -f "$MARKERFILE" ]; then mount "$TARGETDIR" > /dev/null  2>&1 ; fi
if [ ! -f "$MARKERFILE" ]; then sleep $timeout; mount "$TARGETDIR" > /dev/null 2>&1; fi
if [ ! -f "$MARKERFILE" ]; then echo $RED"ERROR!!! Backup server not mount "$NORMAL; exit 1 ; fi

if [ ! -d "$DATADIR" ]; then
    mkdir -p $DATADIR
fi

tar -czpvf $DATADIR/backup-`date +%F--%H-%M`.tgz $BACKUPDIR
RES=$?

echo $RES

if [[ $RES -gt 0 ]];then
        echo $RED"ERROR!!! Backup creation failed. "$NORMAL
        exit 1
fi

echo $GREEN"Backup creation - successfull."$NORMAL
find $TARGETDIR -name '*.gz' -type f -atime +$DAYD -delete
find $TARGETDIR -type d -empty -exec rmdir {} \;
echo $GREEN"OK!!!"$NORMAL && exit 0